:root {
  --primary-color:#b78c59;
  --grey: #adadad;
  --grey-light: #e6e6e6;
  --grey-dark: #4e4b4b;
  --black: #000000;
  --white: #ffffff;
  --white-medium: #f7f7f7;
  --black-mask: rgba(0,0,0,.5)
}


.grid a {
  font-size: 14px !important;
}

/* Projects */
.section-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-projects--photos {
  margin: 20px 0 30px;
  width: 100vw;
  max-width: 1150px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.section-projects--photo {
  width: 350px;
  height: 250px;

  display: flex;
  justify-content: center;
}
.section-projects--photoarea {
  width: 330px;
  height: 230px;

  margin: 20px;
  
  cursor: pointer;

  border-radius: 10px;

  transition: transform .3s;
}
.section-projects--photoarea img {
  box-shadow: 0px 5px 10px var(--black-mask);
  
  border-radius: 10px;

  width: inherit;
  height: inherit;
}
.section-projects--photoinfo {
  border-radius: 10px;

  display: none;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  position: absolute;

  width: inherit;
  height: inherit;
  
  color: var(--white);
  background-color: var(--black-mask);
}
.section-projects--photoinfo h1 {
  font-weight: 600;
  font-size: 20px;

  text-transform: uppercase;

  margin-bottom: 10px;
}
.section-projects--photoinfo p {
  font-size: 15px;
  line-height: 25px;
}
.section-projects--photoinfo p::first-letter {
  text-transform: uppercase;
}
.section-projects--photoarea:hover {
  transform: scale(1.08);
}
.section-projects--photoarea:hover .section-projects--photoinfo{
  display: flex;
}

#galeria {
  padding: 60px 0;
}

.title-galeria {
  text-align: center;
  /* margin-bottom: -60px !important; */
}

.title-edit {
  font-size: 30px;
}

.title-space {
  padding-top: 80px;
  padding-bottom: 20px;
}